:root {
    --grid-cols: 3;
    --grid-rows: 3;
}

body{
    background-color:#ededed;
    font-family:'Roboto', sans-serif;
    color:#333;
}

h1, #center{
    display: flex;
    margin-top:10%;
    justify-content: center;
    align-items: center;
}

#container {
    border:1px #333 solid;
    width: 480px;
    height:500px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), auto);
    grid-template-columns: repeat(var(--grid-cols), auto);
}

.grid-item {
    width:auto;
    height:auto;
} 

#center{
    margin-top:-5px;
}

#content{
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left:-24rem;
}

#input{
    margin-right:5rem;
    height: 480px;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
}

#input > .btn{
    border-radius:3px;
    width:200px;
    height:41px;
    padding:10px 20px;
}

#range{
    margin-top:-2rem;
}